package app

import (
	"github.com/coder2z/{{.ProjectName}}/internal"
)

func Run(stopCh <-chan struct{}) error {
	server := NewServer()
	err := server.PrepareRun(stopCh)
	if err != nil {
		return err
	}
	return server.Run(stopCh)
}

func NewServer() internal.Server {
	return internal.Server{}
}
