apiVersion: apps/v1
kind: Deployment
metadata:
  name: k8s-{{.AppName}}
  namespace: {{.ProjectName}}
spec:
  selector:
    matchLabels:
      name: {{.AppName}}
      version: v1
  replicas: 1
  template:
    metadata:
      labels:
        name: {{.AppName}}
        version: v1
    spec:
      containers:
      - name: {{.ProjectName}}-{{.AppName}}
        image: "{{index .Values.images 0}}:{{.Values.version}}"
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80